@import url("https://fonts.googleapis.com/css2?family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Space Mono", monospace;
  color: white;
}

html {
  font-size: 16px;
}

body {
  width: 100vw;
  height: 100vh;
  background-color: black;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}

section:nth-child(1) {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  width: 100%;
  height: 50%;
}

section:nth-child(1) div {
  position: relative;
  width: 50%;
  height: 55%;
}

section:nth-child(1) div img {
  position: absolute;
}

section:nth-child(1) div:nth-child(1) img {
  bottom: 0.2rem;
  right: 0.2rem;
  height: 75%;
}

section:nth-child(1) div:nth-child(2) img {
  bottom: 0.2rem;
  left: 0.2rem;
  height: 70%;
}

section:nth-child(1) div:nth-child(3) img {
  top: 0.2rem;
  right: 0.2rem;
  height: 65%;
}

section:nth-child(1) div:nth-child(4) img {
  top: 0.2rem;
  left: 0.2rem;
  height: 60%;
}

section:nth-child(2) {
  width: 100%;
  height: 20%;
}

@media screen and (min-width: 700px) {
  section:nth-child(2) {
    width: 50%;
  }
}

h1 {
  margin: 0 4rem;
  font-size: 1.1rem;
  font-weight: 700;
  text-align: center;
}

nav {
  margin: 2rem;
  text-align: center;
}

ul {
  list-style-type: none;
}
ul li {
  display: inline-block;
  margin: 0 0.5rem;
}

ul li a {
  text-decoration: none;
}

ul li a:hover {
  text-decoration: underline;
}

.bold {
  font-weight: 700;
}

.italic {
  font-style: italic;
}
